body{
    background-color: black;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 77, 77, 0.685);
}
h1{
    color: rgba(255, 255, 255, 0.849);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}