<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Personal Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/myself.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>    
            </ul>
        </nav>
    </header>
    <main>
        <section class="contact">
            <h2>Get in Touch</h2>
            <p>Want to collaborate or just say hi?</p>
            <ul>
                <li><strong>Email:</strong> <a href="yoyokrishnan@gmail.com">yoyokrrishnan@gmail.com</a></li>
                <li><strong>Phone:</strong> 7878904554</li>
                <li><strong>Address:</strong> Yeroor, Kollam, Kerala</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 ajin jayan</p>
    </footer>
</body>
</html>